<!-- This controller is used the IEnumerable<INthFibonacciModel which was created by the interface and the repository -->
@model IEnumerable<NthFibonacciModel>
@{
    ViewData["Title"] = "Nth Fibonacci";
}

@{ 
    var NthFibonacciType = "";
    var NthFibonacciString = "";
}

@{ foreach (var element in Model)
    {
        NthFibonacciType = Convert.ToString(@element.NthFibonacciType);
        if (NthFibonacciType == "True")
        {
            NthFibonacciString = "This is a Fibonacci Number";
        }
        else
        {
            NthFibonacciString = "This is not a Fibonacci Number";
        }
    }
}

<html>


<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body onload="ChangeDivBackground()">
    <button id="btnShowHide" onclick="ShowHide()">Show Calculation</button>
    <br />
    <br />
    <div id="divCalculationSummary" class="CalculationSummary" style="display:none; border:solid">
        <center>
        Math.Sqrt(5 * (Number * Number) + 4) or Math.Sqrt(5 * (Number * Number) -4) <br />
        If the result cannot be parsed as an integer (i.e. has no decimal places), then it is an Invalid Fibonacci number.<br />
        If it can be parsed, then it is a valid Fibonacci number.<br />
            </center>
    </div>
    <br />
    <center>
        <form method="post" action="/NthFibonacci/Index">
            <div id="divNumber" style="border:solid">
                <!-- <button id="btnShowHide" onclick="ShowHide()">Show Calculation</button>
    <input type="button" value="Export to Excel" onclick="location.href='Url.Action("Excel", "Calculation")'" /> -->
                <br/>
                <label for="txtNumber">Number to validate against Nth Fibonacci:</label>&emsp;&emsp;&emsp;
                <input type="text" id="txtNumber" name="Number" placeholder="Enter Number here" />&emsp;&emsp;&emsp;
                <input type="submit" value="Submit">
                <input name="__RequestVerificationToken" type="hidden" value="<token_generated_here>">
                <br/>
                <br/>
            </div>

        </form>

        <br />

        <table id="example" class="table table-responsive table-hover">
            <tbody>
                @foreach (var element in Model)
                {
                    <tr>
                        <th scope="row">Number</th>
                        <td>@element.Number</td>
                    </tr>
                    <tr>
                        <th scope="row">Calculated Number 1 : Math.Sqrt(5 * (Number * Number) + 4))</th>
                        <td>@element.CalculatedNumber1</td>
                    </tr>
                    <tr>
                        <th scope="row">Calculated Number 2 : Math.Sqrt(5 * (Number * Number) + 4))</th>
                        <td>@element.CalculatedNumber2</td>
                    </tr>
                    <tr>
                        <th scope="row">Is this a Fibonacci Number?</th>
                        <td>@element.NthFibonacciType</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <br />
        <div id="divConfirmation" class="Confirmation" style="border:solid">
            @NthFibonacciString</div>

    </center>
    <br />
    <br />

</body>
</html>
